name: session_recorder_flutter
description: A Flutter package for capturing, analyzing, and uploading user interaction for session analytics in Flutter apps.
version: 1.1.0
homepage:  https://github.com/opentech-ux/session-recorder-flutter

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.3.0
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
